.flex-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.top-sign {
    width: 210px;
    height: 210px;
}

.home-logo {
    width: 300px;
    height: 300px;
    align-content: center;
    margin-top: 24px;
}

.header {
    height: 540px;
    width: 960px;
}